
{% extends '_layout' %} 

{% block main %} 
  <main role="main" class="inner cover">
        <h1 class="cover-heading">The Lamp Post Listener</h1>
        <p class="lead">Journey Through CS Lewis' Chronicles of Narnia</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Recent Episodes</a>
        </p>
      </main>
      {% endblock %}
